:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;
  --text-preset-1-mobile: 3.6rem;
  --text-preset-1-desktop: 4rem;
  --text-preset-2-desktop: 2.8rem;
  --text-preset-3-desktop: 2rem;
  --text-preset-4-desktop: 1.6rem;
}

@font-face {
  font-family: 'YoungSerif Regular';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'Outfit Regular';
  src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}

@font-face {
  font-family: 'Outfit SemiBold';
  src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
  font-family: 'Outfit Bold';
  src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: 17.1rem;
  display: block;
}

.container {
  margin: 4rem 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

.dish__container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.dish__title {
  font-size: var(--text-preset-1-mobile);
  color: var(--stone-900);
  font-family: 'YoungSerif Regular';
  line-height: 100%;
  margin: 0;
}

.dish__description {
  font-size: var(--text-preset-4-desktop);
  margin: 0;
  color: var(--stone-600);
  font-family: 'Outfit Regular';
  line-height: 150%;
}

.preparation__section {
  background-color: var(--rose-50);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border-radius: 1.2rem;
}

.preparation__title {
  color: var(--rose-800);
  margin: 0;
  font-size: var(--text-preset-3-desktop);
  font-family: 'Outfit SemiBold';
  line-height: 100%;
}

.preparation__section ul {
  margin: 0;
  padding-left: 0.8rem;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.preparation__list::marker {
  color: var(--rose-800);
}

.preparation__list {
  color: var(--stone-600);
  font-size: var(--text-preset-4-desktop);
  line-height: 150%;
  font-family: 'Outfit Regular';
}

.preparation__list span {
  font-family: 'Outfit Bold';
}

.ingredients__section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.ingredients__section h2,
.instructions__section h2 {
  margin: 0;
  font-size: var(--text-preset-2-desktop);
  font-family: 'YoungSerif Regular';
  color: var(--brown-800);
  line-height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
