:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;
  --text-preset-1-mobile: 3.6rem;
  --text-preset-1-desktop: 4rem;
  --text-preset-2-desktop: 2.8rem;
  --text-preset-3-desktop: 2rem;
  --text-preset-4-desktop: 1.6rem;
}

@font-face {
  font-family: 'YoungSerif Regular';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'Outfit Regular';
  src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}

@font-face {
  font-family: 'Outfit SemiBold';
  src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
  font-family: 'Outfit Bold';
  src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: 17.1rem;
  display: block;
}

.container {
  margin: 4rem 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

.dish__container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.dish__title {
  font-size: var(--text-preset-1-mobile);
  color: var(--stone-900);
  font-family: 'YoungSerif Regular';
  line-height: 100%;
  margin: 0;
}

.dish__description,
.nutrition__section p {
  font-size: var(--text-preset-4-desktop);
  margin: 0;
  color: var(--stone-600);
  font-family: 'Outfit Regular';
  line-height: 150%;
}

.preparation__section {
  background-color: var(--rose-50);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border-radius: 1.2rem;
}

.preparation__title {
  color: var(--rose-800);
  margin: 0;
  font-size: var(--text-preset-3-desktop);
  font-family: 'Outfit SemiBold';
  line-height: 100%;
}

.preparation__section ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.preparation__section li,
.ingredients__section li,
.instructions__section li {
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.6rem;
  padding-left: 0.8rem;
}

.preparation__section li::before {
  content: '•';
  color: var(--rose-800);
  align-self: center;
}

.preparation__list {
  color: var(--stone-600);
  font-size: var(--text-preset-4-desktop);
  line-height: 150%;
  font-family: 'Outfit Regular';
}

.preparation__list span,
.instructions__list span {
  font-family: 'Outfit Bold';
}

.ingredients__section,
.instructions__section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.ingredients__section h2,
.instructions__section h2,
.nutrition__section h2 {
  margin: 0;
  font-size: var(--text-preset-2-desktop);
  font-family: 'YoungSerif Regular';
  color: var(--brown-800);
  line-height: 100%;
}

.ingredients__section ul,
.instructions__section ol {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0;
  padding-left: 0;
  font-size: var(--text-preset-4-desktop);
  color: var(--stone-600);
  font-family: 'Outfit Regular';
  line-height: 150%;
}

.ingredients__section li::before {
  content: '•';
  color: var(--brown-800);
  align-self: center;
}

.instructions__section li {
  counter-increment: step;
}

.instructions__section li::before {
  content: counter(step) '.';
  color: var(--brown-800);
  font-family: 'Outfit Bold';
}

hr {
  height: 0.1rem;
  background-color: var(--stone-150);
  border: none;
  margin: 0;
}

.instructions__list::marker {
  font-family: 'Outfit Bold';
  font-size: var(--text-preset-4-desktop);
  line-height: 150%;
}

.nutrition__section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.nutrition__section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nutrition__list {
  padding: 0 3.2rem;
  display: flex;
  gap: 1.6rem;
  color: var(--stone-600);
  font-size: var(--text-preset-4-desktop);
  font-family: 'Outfit Regular';
  line-height: 150%;
}

.nutrition__list .label,
.nutrition__list .value {
  flex: 1;
}

.nutrition__list .value {
  font-family: 'Outfit Bold';
  color: var(--brown-800);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
